/* *{border: solid 1px black;} */
:root {
    --offBlack: #18020cff;
    --darkBlue: #005377ff;
    --lightBlue: #00a7e1ff;
    --grassGreen: #06a77dff;
    --cultured: #f4f2f3;
    --cultured75:  rgba(244, 242, 243, 0.75);
}
html, body {
    /* removing the userstylesheet margin */
    margin: 0;
    font-family: nimbus-sans, sans-serif;
    background-color: var(--lightBlue);
}

/* HEADER STYLING */
#headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: var(--lightBlue);
}

header a{
    text-decoration: none;
}

.headerTextDisplay {
    color: var(--cultured);
    margin: 30px 30px;
} 
/* LOGIN BUTTON STYLING */
#loginButton{
    text-decoration: none;
    color: var(--cultured);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-family: nimbus-sans-extended, sans-serif;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
#loginButton:hover{
    background-color: var(--grassGreen);
    border-color: 2px solid var(--cultured);
}

/* MAIN GRID STRUCTURE AND STYLING */
.grid-container-main{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    margin: 40px 40px 40px 40px;
    column-gap: 2em;
    row-gap: 2em;
}
h2{
    font-family: nimbus-sans-extended, sans-serif;
    text-align: left;
    color: var(--lightBlue);
    font-size: 30px;
    margin: -5px 0px 15px;
}

/* SEARCH CARD STYLING */
#searchCardItem{
    grid-column: 1;
}
.searchCard{
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    background-color:var(--cultured75);
}
.searchBoxContainer p{
    text-align: left;
    font-size: 18px;
    padding: 5px 0px;
}
.searchBoxContainer{
    display: flex;
    flex-direction: column;
    color: var(--offBlack);
}

/* FORM INPUT STRUCTURE AND STYLING */
#searchBarInput{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 4px;
}
input{
    border-color: var(--darkBlue);
    border-radius: 5px;
}
input:hover{
    border-color: var(--grassGreen);
}
input:focus{
    outline: none;
    border-color: var(--grassGreen);
}

/* RANGE SLIDER CSS STYLING */
input[type=range] {
    margin: 6.95px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #005377;
    border-radius: 25px;
    width: 100%;
    height: 6.1px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -6.95px;
    width: 20px;
    height: 20px;
    background: rgba(0, 167, 255, 0.9);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #006591;
  }
  /* END OF RANGE SLIDER CSS STYLING */

#playlistLengthLabel{
    padding: 15px 0px 5px 0px;
    font-size: 18px;
}
.inputLengthContainer{
    display: flex;
    width: 100%;
}
#playlistLengthRange{
    flex: 1 1 80%;
    justify-content: space-between;
}
#playlistLengthNumber{
    flex: 1 1 auto;
    justify-content: space-between;
    margin-left: 20px;
}
.buttonDisplayContainer{
    display: flex;
}

/* BUTTONS */
form button{
    flex: 1 1 50%;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 18px;
}
button{
    color: var(--cultured);
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-family: nimbus-sans-extended, sans-serif;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
button:hover{
    background-color: var(--grassGreen);
    border-color: var(--grassGreen);
}
button:focus{
    outline: none;
}
#search{
    margin-right: 10px;
}


/* SOCIALS DISPLAY STRUCTURE AND STYLING  */
#socialLinksItem{
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    background-color:var(--cultured75);
}

/* PLAYLIST DISPLAY SUB-GRID STRUCTURE AND STYLING  */
#playlistOutputItem{
    grid-column: 1 / span 2;
}
.grid-container-playlist{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    column-gap: 2.5%;
    row-gap: 1em;    
    padding: 15px 30px 30px 30px;
    border-radius: 15px;
    background-color:var(--cultured75);
}
#playlistTitle{
    grid-column: 1 / span 3;
    font-family: nimbus-sans-extended, sans-serif;
    text-align: left;
    font-size: 20px;
    margin: 20px 0px -10px;
    padding-bottom: 0px;
    color: var(--lightBlue);
}
#playPauseBtns{
    justify-self: end;
    align-self: center;
    font-size: 16px;
}
#addToPlaylistBtn{
    justify-self: end;
    align-self: center;
    font-size: 12px;
}

.grid-container-playlist img{
    width: 100%;
    padding: 10px 0px;
}

.grid-container-playlist audio{
    width: 100%;
    margin: 0px 0px 5px;
}

h3,
h4{
    font-family: nimbus-sans, sans-serif;
    color: var(--darkBlue);
    margin: -5px 0px 15px 0px;
}
/* FOOTER */
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color:var(--lightBlue);
    color: var(--cultured);
    text-align: center;
}

/* ADDED MODAL FOR SELECTING PLAYLISTTOADD2 */
.ModalP,
.modal{
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}
  
/* Modal Content/Box */
.modal-contentP,
.modal-content {
    background-color: var(--cultured);
    margin: 15% auto;
    padding: 30px;
    border: 1px solid var(--darkBlue);
    width: 30%;
    border-radius: 10px;
}

.modal-content{
    text-align: center;
}
  
.plItem {
    line-height: 27px;
    height: 35px;
    padding: 6px 0px 0px 12px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: lightgrey;
    --cultured75:  rgba(244, 242, 243, 0.75);
    cursor: pointer;
}

.plItem:first-child {
  margin-top: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.plItem:last-child {
  border-width: 1px 1px 1px 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.plItem:hover {
  background-color: var(--lightBlue);
}

#close1,
#close {
    color: var(--darkBlue);
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
#close1:hover,
#close1:focus,
#close:hover,
#close:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#error-message {
    display: block;
    background-color: rgba(255, 217, 0, 0.493);
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
}
#no-input,
#bad-input {
    display: none;
    background-color: rgba(255, 0, 0, 0.349);
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
}

@media screen and (max-width: 1200px ) {
    .headerTextDisplay{
        font-size: 28px;
    }
    #loginButton{
        font-size: 18px;
    }
    .instructionsHeading{
        padding: 0px 2px 0px 2px;
        margin-bottom: -25px;
    }
    #searchBarInput{
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px ) {
    h3, .headerTextDisplay{
        font-size: 28px;
    }
    #loginButton{
        font-size: 16px;
    }
    .instructionsHeading{
        padding: 5px 0px 0px 0px;
        margin-bottom: -25px;
    }
    #searchBarInput{
        font-size: 18px;
    }
    #playlistLengthLabel, #playlistLengthNumber, .buttonDisplay{
        font-size: 16px;
    }
    .grid-container-main{
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 35px;
        column-gap: 1.5em;
        row-gap: 1.5em;
        margin-bottom: 80px;
    }    
    .grid-container-playlist button{
        padding: 8px;
        justify-self: start;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px ) {
    h3, .headerTextDisplay{
        font-size: 22px;
    }
    #loginButton{
        font-size: 14px;
    }
    #searchBarInput{
        font-size: 16px;
    }
    #playlistLengthLabel, #playlistLengthNumber, .buttonDisplay{
        font-size: 18px;
    }
    .grid-container-main{
        margin: 40px;
        margin-bottom: 80px;
        column-gap: 1.5em;
        row-gap: 1.5em;
    }
    .grid-container-playlist button{
        padding: 5px;
        justify-self: start;
        font-size: 12px;
    }
    #playlistTitle{
        grid-column: 1 / span 4;
    }
    #playPauseBtns{
        grid-row: 2;
        grid-column: 1 / span 4;
        justify-self: start;
        align-self: center;
        
    }
    #searchCardItem{
        grid-column: 1 / span 2;
    }
    #socialLinksItem{
        grid-row: 3;
        grid-column: span 2;
    }
    .modal-contentP,
    .modal-content {
        margin: 15% auto;
        padding: 15px;
        width: 50%;
    }

}
@media screen and (max-width: 480px ) {
    h3, .headerTextDisplay{
        font-size: 18px;
    }
    #searchBarInput, .buttonDisplay{
        font-size: 16px;
    }
    #playlistLengthLabel, #playlistLengthNumber{
        font-size: 14px;
    }

    #searchCardItem{
        grid-column: 1 / span 2;
    }
    #socialLinksItem{
        grid-row: 3;
        grid-column: span 2;
    }
}